@model IEnumerable<Filminurk.Models.UserComments.UserCommentsIndexViewModel>

@{
    int rownumber = 1;
}

<div>
    <a asp-action="NewComment" asp-Controller="UserComments" type="sumbit" class="btn btn-primary">Make new Comment</a>
</div>
<div class="h1">
    kasutaja arvustused:
</div>
<div>
    <form method="get">
    <tabel class="table table-hover">
        <thead>
            <tr>
                <th scope="col">JKN</th>
                <th scope="col">CommentID</th>
                <th scope="col">Kasutaja</th>
                <th scope="col">CommentBody</th>
                <th scope="col">Isharmful</th>
                <th scope="col">CommentCreatedAt</th>
                <th></th>

                </tr>
        </thead>
    </tabel>
    <tbody> 
    @foreach (var comment in Model)
    {
        
            
                <tr>
                    <th>@rownumber</th>
                    <td>@comment.CommentID</td>
                    <td>@comment.CommentBody</td>
                    <td>@comment.IsHarmful</td>
                    <td>@comment.CommentCreatedAt</td>
                    <td>
                        <a asp-action="EditComment" asp-controller="UserComments" asp-route-id="@comment.CommentID" class="btn btn-primary">Edit</a>
                        <a asp-action="DeleteComment" asp-controller="UserComments" asp-route-id="@comment.CommentID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

        rownumber++;
    } 
            </tbody>
        </tabel> 
    </form>
</div>