@model Filminurk.Models.Movies.MoviesDetailViewModel
@{
    ViewData["Title"] = "Filmi detailid";
}
<h1>Filmi detailid</h1>
<div>
 <h4>Filmi info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Pealkiri
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Žanr
        </dt>
        </dd>
        <dt class="col-sm-2">
            Režissöör
        </dt>
        <dd class="col-sm-10">
            @Model.Director
        </dd>
        <dt class="col-sm-2">
            Aasta
        </dt>
        <dd class="col-sm-10">
            @Model.FirstPublished
        </dd>
        <dt class="col-sm-2">
            Kestvus
        </dt>
        <dd class="col-sm-10">
            @Model.DurationInMinutes minutit
        </dd>
        <dt class="col-sm-2">
            Hind
        </dt>
    
   </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Muuda</a> |
        <a asp-action="Index" class="btn btn-secondary">Tagasi filmide nimekirja</a>
    </div>
</div>

