@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<Filminurk.Models.Movies.MoviesIndexViewModel>
@{
    int rownumber = 1;
}
<div>
    <a asp-action="Create" asp-controller="Movies" type="sumbit" class=""></a>
</div>
<div class="h1">
    Filmid
</div>
<form method="get">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pealkiri</th>
                <th scope="col">Žanr</th>
                <th scope="col">Režissöör</th>
                <th scope="col">Aasta</th>
                <th scope="col">Kestvus</th>
                <th scope="col">Hind</th>
                <th scope="col">tööriistad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@rownumber</td>
                    <td>@movie.Title</td>
                    <td>@movie.FirstPublished</td>
                    <td>@movie.CurrentRating</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-primary">Muuda</a>
                        <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info">Detailid</a>
                        <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger">Kustuta</a>
                </tr>
            }
        </tbody>
    </table>
</form>