@model IEnumerable<Filminurk.Models.Actors.ActorIndexViewModel>
@{
    int rownumber = 1;
}
<div>
    <a asp-action="Create" asp-controller="Actors" type="submit" class="btn btn-primary">Lisa näitleja</a>
</div>
<div class="h1">
    Näitlejad
</div>
<form method="get">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nimi</th>
                <th scope="col">Hüüdnimi</th>
                <th scope="col">Spetsialiseerumine</th>
                <th scope="col">Filme</th>
                <th scope="col">Agent</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actor in Model)
            {
                <tr>
                    <td>@rownumber</td>
                    <td>@actor.FirstName @actor.LastName</td>
                    <td>@actor.NickName</td>
                    <td>@actor.PrimarySpecialization</td>
                    <td>@actor.MoviesActedFor</td>
                    <td>@actor.DateOfBirth</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@actor.ActorID" class="btn btn-primary">Muuda</a>
                        <a asp-action="Details" asp-route-id="@actor.ActorID" class="btn btn-info">Detailid</a>
                        <a asp-action="Delete" asp-route-id="@actor.ActorID" class="btn btn-danger">Kustuta</a>
                    </td>
                </tr>
                rownumber++;
            }
        </tbody>
    </table>
</form>